@model IEnumerable<eshop.Entities.Product>

@{
    ViewData["Title"] = "Index";
    var count = 0;
}

<div class="row">
    @foreach (var product in Model)
    {
        if (count != 0 && count % 3 == 0)
        {
            @:</div>
            @:<div class="row">
        }
        <div class="col-4">
            <partial name="_productCard" model="@product"/>
        </div>
        count++;
    }
</div>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    
      @for (var i = 1; i <=ViewBag.TotalPage; i++)
      {
           <li class="page-item"><a asp-action="Index" asp-controller="Home" asp-route-pageNo="@i" asp-route-categoryId="@ViewBag.CategoryId" class="page-link">@i</a></li>
      } 
  
  </ul>
</nav>

@section Scripts{
    <script>
      
        $(document).ready(function(){
            $('.addCart').on('click',function(){
                let id = $(this).data('productid');
                console.log("yakalanan ürün id'si: "+id);
                $.ajax({
                    url:'/ShoppingCart/AddProduct/'+id,
                    dataType:'json',
                    success: function(response){
                        console.log("işlem tamam");
                        console.log(response);
                    },
                    error: function(err){
                        console.log(err)
                    }
                });
            });
        }) ;
    </script>
}