@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hoş geldiniz!</h1>
    <p>
        Yılbaşı partimize katılmak için <a asp-action="Response" asp-controller="Home">tıklayınız</a>
    </p>
</div>
